# -*- Mode: YAML -*-

sudo: false # request container-base infrastructure
language: cpp

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
            - boost-latest
          packages:
            - cmake
            - cmake-data
            - git
            - libboost1.55-all-dev
            - g++-5
      env:
        - CC=gcc-5
        - CXX=g++-5
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
            - george-edison55-precise-backports
            - boost-latest
          packages:
            - cmake
            - cmake-data
            - git
            - libboost1.55-all-dev
            - clang-3.7
      env:
        - CC=clang-3.7
        - CXX=clang++-3.7
      
script:
- mkdir extra && cd extra
- git clone https://github.com/g-truc/gli.git gli-git
- git clone https://github.com/g-truc/glm.git glm-git
- cd ..
- export GLI_ROOT_DIR=`pwd`/extra/gli-git
- export GLM_ROOT_DIR=`pwd`/extra/glm-git
- export CMAKE_INSTALL_PREFIX=`pwd`/install
- mkdir build && cd build
- cmake .. && cmake --build . --target test_all && cmake --build . --target install
