language: cpp

compiler:
  - gcc

sudo: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - george-edison55-precise-backports
      - boost-latest
    packages:
      - cmake
      - cmake-data
      - gcc-5
      - g++-5
      - git
      - libboost1.55-dev

script:
- mkdir extra && cd extra
- git clone https://github.com/g-truc/gli.git gli-git
- git clone https://github.com/regnirpsj/glm.git glm-regnirpsj-git
- cd ..
- export GLI_ROOT_DIR=`pwd`/extra/gli-git
- export GLM_ROOT_DIR=`pwd`/extra/glm-regnirpsj-git
- mkdir build && cd build
- cmake -DCMAKE_INSTALL_PREFIX=../install .. && cmake --build . --target test_all && cmake --build . --target install
