# -*- Mode: YAML -*-

sudo: false # request container-base infrastructure
language: cpp

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
            - boost-latest
          packages:
            - cmake
            - cmake-data
            - git
            - libboost1.55-all-dev
            - g++-5
      env:
        - MATRIX_CC=gcc-5
        - MATRIX_CXX=g++-5
        - MATRIX_GCOV=gcov-5
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
            - george-edison55-precise-backports
            - boost-latest
          packages:
            - cmake
            - cmake-data
            - git
            - libboost1.55-all-dev
            - g++-5
            - clang-3.7
      env:
        - MATRIX_CC=clang-3.7
        - MATRIX_CXX=clang++-3.7
        - MATRIX_GCOV=gcov-5
        
before_script:
  - export CC=${MATRIX_CC}
  - ${CC} --version
  - export CXX=${MATRIX_CXX}
  - ${CXX} --version
  - export GCOV=${MATRIX_GCOV}
  - ${GCOV} --version
  - mkdir ${TRAVIS_BUILD_DIR}/build
  - mkdir ${TRAVIS_BUILD_DIR}/extra
  - mkdir ${TRAVIS_BUILD_DIR}/install
  - cd ${TRAVIS_BUILD_DIR}/extra
  - git clone http://github.com/g-truc/gli.git gli-git
  - export GLI_ROOT_DIR=${TRAVIS_BUILD_DIR}/extra/gli-git
  - git clone http://github.com/g-truc/glm.git glm-git
  - export GLM_ROOT_DIR=${TRAVIS_BUILD_DIR}/extra/glm-git
  - wget http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz
  - tar xf lcov_1.11.orig.tar.gz
  - env PREFIX=${TRAVIS_BUILD_DIR}/install make -C lcov-1.11/ install
  - export PATH=${TRAVIS_BUILD_DIR}/install/usr/bin:${PATH}
  - gem install coveralls-lcov
  - export LCOV="lcov --gcov-tool ${GCOV}"
  - ${LCOV} --version
  - cd ${TRAVIS_BUILD_DIR}/build
  - ${LCOV} --directory . --zerocounters
  
script:
  - cd ${TRAVIS_BUILD_DIR}/build
  - export HUGH_INSTALL_PREFIX=${TRAVIS_BUILD_DIR}/install
  - cmake -DVERBOSE=1 -DHUGH_SUPPORT_COVERAGE=1 .. && cmake --build . --target test_all
  
after_success:
  - cd ${TRAVIS_BUILD_DIR}/build
  - ${LCOV} --directory . --capture --output-file coverage.info
  - ${LCOV} --remove coverage.info 'test/*' '/usr/*' --output-file coverage.info
  - ${LCOV} --list coverage.info
  - coveralls-lcov --repo-token ${COVERALLS_TOKEN} coverage.info
